/* RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

body{
    background-color: ivory;
    padding: 85px 70px;
}
.bodypage{
    background-color: #fffef5;
    border-color: #e8e6e6;
    border-style: solid;
    border-width: 2px;
    
    padding-bottom: 100px;
}
.name{
    text-align: center;
    color: #6D3B3B;
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 700;
    padding-top: 100px;
    
}
.name:hover{
    color: #404040;
    transition: 0.3s;
}
.head{
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 540;
    letter-spacing: 2px;
    padding-right: 110px;
    padding-left: 110px;
    
}
.headl{
    display: inline-block;
    float: left;
}
.headr{
    display: inline-block;
    float: right;
    
}

.navline{
    height: 1.75px;
    width: 185px;
    background-color: #e8e6e6;
    display: inline-block;
    margin-bottom: 4px;
    
}
.navlist{ 
    display: inline-block;
}
.navlink{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 13.5px;
    font-weight: 500;

    
}
.nav{
    padding-left: 110px;
}
.maincontent{
    
}
.contenttitle{
    color: #5c5c5c;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}
.contentpara{
    padding-right: 270px;
    padding-left: 270px;
    font-size: 17px;
    padding-top: 40px;
    color: #5c5c5c;
    font-weight: 300;
    line-height: 25px;
}
.contentlist{
    list-style-type: disc;
    padding-right: 310px;
    padding-left: 310px;
    color: #5c5c5c;
    font-weight: 600;
    padding-top: 100px;
}
.contentlist p{
    font-size: 17px;
    padding-top: 20px;
    color: #5c5c5c;
    font-weight: 300;
    line-height: 25px;
    
}
.i{
    font-style: italic;
}
.contentres{
    padding-right: 300px;
    padding-left: 300px;
    font-size: 17px;
    padding-top: 40px;
    color: #5c5c5c;
    font-weight: 300;
    line-height: 25px;
}
.reslink{
    text-decoration: none;
    color:#5c5c5c;
    font-weight: 500;
}
.bottomline{
    height: 2px;
    width: 1110px;
    margin-top:130px;
    margin-left: 100px;
    background-color: #e8e6e6;
    display: inline-block;
}
.navlink:hover{
    color: #6D3B3B;
    border-bottom-color: #5c5c5c;
    border-bottom-style: solid;
    border-width: 2px;
    
    
}